*{
    margin: 0;
    padding: 0;
}

.wrap{
    width: 1200px;
    margin: auto;
}

img{
    width: 100%;
    vertical-align: top;
}

.pic{
    padding: 10px 0;
}

.detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.text > h2{
    font-size: 23px;
}

.text > h3{
    font-size: 18px;
    color: red;
    margin-left: 10px;
}

.text{
    margin-top: 10px;
}

.col-12, .col-md-3{
    border: 1px solid black;
    position: relative;
}

.search{
    padding: 20px;
    display: flex;
}

.search > *{
    margin: 0 20px;
}

.price{
    display: flex;
}

.price > *{
    margin: 0 5px;
}

.soldOut{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0005;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


